
parcial2-ds8/Parcial2/Parcial2.vbproj
parcial2-ds8/Parcial2/obj/project.nuget.cache
parcial2-ds8/Parcial2/obj/project.assets.json
parcial2-ds8/Parcial2/obj/Parcial2.vbproj.nuget.g.props
parcial2-ds8/Parcial2/obj/Parcial2.vbproj.nuget.dgspec.json
parcial2-ds8/Parcial2/obj/Debug/net8.0-windows/refint/Parcial2.dll
parcial2-ds8/Parcial2/obj/Debug/net8.0-windows/ref/Parcial2.dll
parcial2-ds8/Parcial2/obj/Debug/net8.0-windows/Parcial2.vbproj.Up2Date
parcial2-ds8/Parcial2/obj/Debug/net8.0-windows/Parcial2.vbproj.GenerateResource.cache
parcial2-ds8/Parcial2/obj/Debug/net8.0-windows/Parcial2.vbproj.FileListAbsolute.txt
parcial2-ds8/Parcial2/obj/Debug/net8.0-windows/Parcial2.vbproj.CoreCompileInputs.cache
parcial2-ds8/Parcial2/obj/Debug/net8.0-windows/Parcial2.vbproj.AssemblyReference.cache
parcial2-ds8/Parcial2/obj/Debug/net8.0-windows/Parcial2.sourcelink.json
parcial2-ds8/Parcial2/obj/Debug/net8.0-windows/Parcial2.pdb
parcial2-ds8/Parcial2/obj/Debug/net8.0-windows/Parcial2.genruntimeconfig.cache
parcial2-ds8/Parcial2/obj/Debug/net8.0-windows/Parcial2.GeneratedMSBuildEditorConfig.editorconfig
parcial2-ds8/Parcial2/obj/Debug/net8.0-windows/Parcial2.dll
parcial2-ds8/Parcial2/obj/Debug/net8.0-windows/Parcial2.designer.runtimeconfig.json
parcial2-ds8/Parcial2/obj/Debug/net8.0-windows/Parcial2.designer.deps.json
parcial2-ds8/Parcial2/obj/Debug/net8.0-windows/Parcial2.assets.cache
parcial2-ds8/Parcial2/obj/Debug/net8.0-windows/Parcial2.AssemblyInfoInputs.cache
parcial2-ds8/Parcial2/obj/Debug/net8.0-windows/Parcial2.AssemblyInfo.vb
parcial2-ds8/Parcial2/obj/Debug/net8.0-windows/apphost.exe
parcial2-ds8/Parcial2/frmProductos.vb
parcial2-ds8/Parcial2/frmProductos.resx
parcial2-ds8/Parcial2/frmProductos.Designer.vb
parcial2-ds8/Parcial2/ConexionBD.vb
parcial2-ds8/Parcial2/bin/Debug/net8.0-windows/System.Data.SqlClient.dll
parcial2-ds8/Parcial2/bin/Debug/net8.0-windows/runtimes/win/lib/netcoreapp2.1/System.Data.SqlClient.dll
parcial2-ds8/Parcial2/bin/Debug/net8.0-windows/runtimes/win-x86/native/sni.dll
parcial2-ds8/Parcial2/bin/Debug/net8.0-windows/runtimes/win-x64/native/sni.dll
parcial2-ds8/Parcial2/bin/Debug/net8.0-windows/runtimes/win-arm64/native/sni.dll
parcial2-ds8/Parcial2/bin/Debug/net8.0-windows/runtimes/unix/lib/netcoreapp2.1/System.Data.SqlClient.dll
parcial2-ds8/Parcial2/bin/Debug/net8.0-windows/Parcial2.runtimeconfig.json
parcial2-ds8/Parcial2/bin/Debug/net8.0-windows/Parcial2.pdb
parcial2-ds8/Parcial2/bin/Debug/net8.0-windows/Parcial2.exe
parcial2-ds8/Parcial2/bin/Debug/net8.0-windows/Parcial2.dll
parcial2-ds8/Parcial2/bin/Debug/net8.0-windows/Parcial2.deps.json
parcial2-ds8/Parcial2/.vs/Parcial2/v17/DocumentLayout.json
parcial2-ds8/Parcial2/.vs/Parcial2/v17/DocumentLayout.backup.json
parcial2-ds8/Parcial2/.vs/Parcial2/v17/.suo
parcial2-ds8/Parcial2/.vs/Parcial2/FileContentIndex/e4631799-f722-4340-a18a-a5ffbfcbc2df.vsidx
parcial2-ds8/Parcial2/.vs/Parcial2/FileContentIndex/d10f565f-c00b-49a7-987b-dcf6ad67a36e.vsidx
parcial2-ds8/Parcial2/.vs/Parcial2/FileContentIndex/8acd0240-e67f-4a1b-bde6-17e3778c1923.vsidx
parcial2-ds8/Parcial2/.vs/Parcial2/FileContentIndex/8a8f920e-762f-47fb-8f21-20f5de8ae61b.vsidx
parcial2-ds8/Parcial2/.vs/Parcial2/FileContentIndex/826e2076-296b-4443-91a6-2a8828d09bd3.vsidx
parcial2-ds8/Parcial2/.vs/Parcial2/FileContentIndex/765daaa3-71b7-44cd-ad7d-ff7e84a87e6b.vsidx
parcial2-ds8/Parcial2/.vs/Parcial2/FileContentIndex/53371f92-56a7-4f1a-8cfc-e4ea64ccd016.vsidx
parcial2-ds8/Parcial2/.vs/Parcial2/FileContentIndex/50d59e2f-e143-4182-a54c-1965f12d7e7b.vsidx
parcial2-ds8/Parcial2/.vs/Parcial2/FileContentIndex/438135bb-24e6-4bab-8bb5-866818051506.vsidx
parcial2-ds8/Parcial2/.vs/Parcial2/DesignTimeBuild/.dtbcache.v2
parcial2-ds8/Parcial2/.vs/Parcial2/CopilotIndices/0.2.1653.9816/SemanticSymbols.db-wal
parcial2-ds8/Parcial2/.vs/Parcial2/CopilotIndices/0.2.1653.9816/SemanticSymbols.db-shm
parcial2-ds8/Parcial2/.vs/Parcial2/CopilotIndices/0.2.1653.9816/SemanticSymbols.db
parcial2-ds8/Parcial2/.vs/Parcial2/CopilotIndices/0.2.1653.9816/CodeChunks.db-wal
parcial2-ds8/Parcial2/.vs/Parcial2/CopilotIndices/0.2.1653.9816/CodeChunks.db-shm
parcial2-ds8/Parcial2/.vs/Parcial2/CopilotIndices/0.2.1653.9816/CodeChunks.db
